<div class="home-tab">
  <div class="card" *ngIf="!quizSubmitted">
    <div class="card-header">
      <h3>Quiz Maker</h3>
    </div>
    <form class="card-body" [formGroup]="myForm">
      <div class="container-full">
        <div class="form-row">
          <div class="form-group col-md-4">
            <select
              #categorySelect
              class="form-select form-select-sm mb-auto"
              formControlName="categories"
              tabindex="-98"
            >
              <option [ngValue]="null" disabled>Select a category</option>
              <option
                *ngFor="let category of categoriesList"
                [value]="category.id"
              >
                {{ category.name }}
              </option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <select
              #difficultySelect
              class="form-select form-select-sm mb-auto"
              formControlName="difficulty"
              tabindex="-98"
            >
              <option value=""></option>
              <option value="easy">Easy</option>
              <option value="medium">Medium</option>
              <option value="hard">Hard</option>
            </select>
          </div>
          <button
          #createBtn
          type="button"
          class="btn btn-outline-primary"
          (click)="generateQuiz()"
          [disabled]="isCreateButtonDisabled"
        >
          Create
        </button>        
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="triviaQuestions.length > 0 && !quizSubmitted" class="card mt-4">
    <div class="card-body">
      <div class="container-full">
        <h4>Trivia Questions:</h4>
        <ul>
          <li *ngFor="let question of triviaQuestions; let i = index">
            <p [innerHTML]="question.question"></p>
            <div>
              <button
                *ngFor="let answer of question.all_answers; let j = index"
                (click)="selectAnswer(question, j)"
                [ngClass]="{
                  'button-answer': true,
                  selected: question.selectedAnswerIndex === j,
                  correct:
                    question.selectedAnswerIndex === j &&
                    answer === question.correct_answer,
                  incorrect:
                    question.selectedAnswerIndex === j &&
                    answer !== question.correct_answer
                }"
              >
              <span [innerHTML]="answer"></span>
              </button>
            </div>
          </li>
        </ul>
        <button
          *ngIf="allQuestionsAnswered()"
          class="btn btn-primary"
          (click)="submitQuiz()"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
